<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="springSample.properties"/>
    </bean>

    <bean id="accountService"
          class="spring.sample.service.AccountService">
        <property name="accountDao" ref="accountDao"/>
    </bean>


    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="accountRowMapper" class="spring.sample.dao.jdbc.AccountRowMapper" />


    <bean id="accountDao"
          class="spring.sample.dao.jdbc.JdbcAccountDao">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
        <property name="accountRowMapper" ref="accountRowMapper"/>
    </bean>


    <bean id="dataSource"
          class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close"
          p:driverClassName="${dataSource.driverClassName}"
          p:url="${dataSource.url}"
          p:username="${dataSource.username}"
          p:password="${dataSource.password}"
          />



</beans>